/* General */

body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header{

    background-color: white;
    border-bottom: 1px solid #CCC;
}

.row{
    margin:0;
}

.container-fluid{
    padding: 0;
}

.btn-primary{

    background-color: #F2A340;
    border: 2px solid #C28008;
}

.btn-primary:hover{

    background-color: #C28008;
    border-color: #C28008;
}

* {

    font-family: Roboto;
}

.msg {
    background-color: #D4EDDA;
    color: #155724;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

#info-container .already-joined-msg{

    margin: 15px 0;
    color: #004085;
    background-color: #CCE5FF;
    padding: 10px;
    width: 275px;

}

/* NAVBAR */

#navbar img {
    width: 40px;
}

#navbar{

    justify-content: space-between;
    background-color: white;
    padding: 5px 0;
}

#navbar a{

    font-size: 14px;
    color: #757575;

}

#navbar a:hover{

    color: #F2A340;

}

#search-container{

    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1{

    color: #F2A340;
    margin-bottom: 30px;
    font-weight: 900;

}

#search-container form{

    width: 50%;
    margin: 0 auto;

}


/* events list */

#events-container {

    padding: 50px;

}

#events-container h2 {

    margin-bottom: 10px;

}

#events-container .subtitle{

    color: #757575;
    margin-bottom: 30px;

}

#cards-container{

    display: flex;

}

#events-container .card{

    flex: 1 1 24%;
    max-width: 24%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;

}

#events-container img{

    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.card .card-date{

    font-size: 12px;
    color: #CCC;

}

.card .card-title{

    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;

}

.card-participants{

    color: #757575;
    font-size: 14px;

}

/* Em tablets (≤ 768px) */
@media (max-width: 768px) {
    #events-container .card {
        flex: 1 1 48%;
        max-width: 48%;
    }
}

/* Em celulares (≤ 576px) */
@media (max-width: 576px) {
    #events-container .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/* Event show page */

#image-container,
#info-container{

    margin-top: 30px;
}

#image-container img{

    border-radius: 10px;
}

#info-container h1{

    font-size: 36px;
    font-weight: 900;
}

#info-container p{

    font-size: 14px;
    margin:0;
    display: flex;
}

#info-container h3,
#description-container h3{

    font-size: 20px;
    font-weight: bold;

}

#description-container {

    margin-top: 30px;
}

#info-container ion-icon{

    font-size: 20px;
    color: #F2A340;
    margin-right: 5px;

}

#info-container #event-submit{

    margin: 20px 0;

}

#items-list{

    list-style: none;
    padding-left: 0;

}

#items-list li{

    display: flex;
}


/* Event create page */

#event-create-container{

    padding: 30px;

}

#event-create-container label{

    font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {

    font-size: 12px;
}

/* Dashboard */

.dashboard-title-container{

    margin-bottom: 30px;
    margin-top: 30px;

}

.dashboard-events-container th{

    width: 25%;

}

.dashboard-events-container form{

    display: inline-block;

}

/* Edit Page */

.img-preview{

    width: 100px;
    margin-top: 20px;
    
}

/* Footer */

footer{

    text-align: center;
    background-color: #353E48;
    color: white;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%

}

footer p{

    margin-bottom: 0;
    
}